/* Blue Skin Colors
================================================== */

a, a:visited, 
.navSide li a:hover, 
.navSide li.active a span, 
.thumbLink:hover h3, 
.accTrigger a:hover,
span.color,
.postTabLink:hover .postTab p,
blockquote:before,
blockquote:after,
.tp-caption.themeColor,
#logo a,
.tp-caption.big_themeColor
{ 
	color: #29a0e4;
}


#navMain ul ul li a:hover,
#filters a:hover,
.selected,
.selected:hover,
.blogTags a:hover,
.testimonials.testTheme .testimonialText,
.footerBottomText,
.highlight,
.dropcap,
.footerMiddle
{
    background:#29a0e4;
}


.selected,
.selected:hover
{
	background: #29a0e4 !important;
}


#backtotop a:hover, 
.topDropPanel, 
.bar, 
ul.tabs li a, 
ul.pageList li a, 
table.tableGeneric tr:hover td ,
.featureIcon.analytics,
.featureIcon.cart,
.featureIcon.earplugs,
.featureIcon.imac,
.featureIcon.iphone,
.featureIcon.lightbulb,
.featureIcon.rabbit,
.featureIcon.vector,
#whiteIcons
{
	background-color: #29a0e4;
}
 
.iconWrapper, #ta1, #ta2, #ta3, #ta4, #ta5, #ta6, #ta7, #ta8,
#servicesAni:hover #sa1,
#servicesAni:hover #sa2,
#servicesAni:hover #sa3,
#servicesAni:hover #sa4,
#servicesAni:hover #sa5,
#servicesAni:hover #sa6,
#servicesAni:hover #sa7,
#servicesAni:hover #sa8
{
	background-color: rgba(41,160,228,0.7);
}

.navSide li.active a span,
.thumbLink:hover h3 
{
	border-bottom-color: #29a0e4;
}

.flex-direction-nav a.flex-next {background-position: 0 240px;}
.flex-direction-nav a.flex-next:hover {background-position: 60px 240px;}
.flex-direction-nav a.flex-prev {background-position: 90px 240px;}
.flex-direction-nav a.flex-prev:hover {background-position: 30px 240px;}
.testimonials.testTheme .testimonialAuthor {background-position: 30px -42px;}
#topDropBut{background-position: 0px -38px;}
#topDropBut:hover{background-position: -34px -38px;}
.logoIcon {background-position: center -100px;}
.topBorder{background-position: center -56px; border-top: 5px solid #29a0e4;}
.footerBottomImage {background-position: center -66px;}
.prev {background-position: 0px -80px;}
.next {background-position: -20px -80px;}
.prev:hover {background-position: -40px -80px;}
.next:hover {background-position: -60px -80px;}

.button.themeButton {
	border: 1px solid #055f92;
	background-image:         linear-gradient(bottom, #0d7cbc 0%, #29a0e4 100%);
	background-image:      -o-linear-gradient(bottom, #0d7cbc 0%, #29a0e4 100%);
	background-image:     -ms-linear-gradient(bottom, #0d7cbc 0%, #29a0e4 100%);
	background-image:    -moz-linear-gradient(bottom, #0d7cbc 0%, #29a0e4 100%);
	background-image: -webkit-linear-gradient(bottom, #0d7cbc 0%, #29a0e4 100%);
	background-color: #0d7cbc;
	color:#fff;
	text-shadow: 1px -1px 0px #055f92;
}

.button.themeButton:hover {background: #0d7cbc;}